.container {
    height: 250px;
    width: 700px;
    outline: 1px solid black;
    position: relative;
    box-sizing: content-box;
}

body {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 700px;
}

#cool-title {
    width: 700px;
    margin-bottom: 1rem;
}

* {
    box-sizing: border-box;
}
